# Ignore all data files except .gitignore
Case_01_parameters_and_feature/data/*
!Case_01_parameters_and_feature/data/.gitignore
Case_02_CNN_super_sample/data/*
!Case_02_CNN_super_sample/data/.gitignore




installer/
.conda/

# Ignore Python cache and environment files
__pycache__/

# Ignore VS Code settings
.vscode/
